# github helper pieces to make some files not show up in diffs automatically
installer_specs/*.lock linguist-generated=true
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
